---
import ToggleBox from '../components/react/Toogle.tsx';
import Color from '../components/react/Toogle.tsx';
---
<html>
  <body>
    <h1>Toggle Example</h1>
    <ToggleBox client:load />
    <ToggleBox client:load />
    <ToggleBox  />
    <Color client:load />
    <Color  />

  </body>
</html>
